body {
    font-family: "helvetica neue";
}
h1{
    font-size:20px;
}
    
table {
    width: 170px;
    height: 300px;
    border: 10px solid #000;  
    background-color:#cccccc;
    table-layout:fixed; 
    }
td {
    border: 1px solid #000;
    font-size:100px;
    text-align: center;
 /*   font-weight: bold;*/
    width:150px;
    height:150px;

    }

